# Ignorera allt i lab1
lab1

# Tillåt endast wp-content-mappen
!lab1/wp-content/themes

# Ignorera onödiga delar av wp-content
lab1/wp-content/uploads/
lab1/wp-content/cache/
lab1/wp-content/upgrade/
lab1/wp-content/plugins/

# Ignorera andra onödiga filer
.DS_Store
Thumbs.db
*.log
debug.log
